:root {
  /* Primary Colors */
  --primary-green: #495E57;
  --primary-yellow: #F4CE14;
  
  /* Secondary Colors */
  --secondary-salmon: #EE9972;
  --secondary-peach: #FBDABB;
  
  /* Highlight Colors */
  --highlight-white: #EDEFEE;
  --highlight-black: #333333;
  
  /* Typography */
  --font-display: 'Markazi Text', serif;
  --font-body: 'Karla', sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-body);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.menu-open {
  overflow: hidden;
}

img {
  max-width: 100%;
  display: block;
}